.client {
  &__title {
    @extend %title-color;
    text-align: center;
    font-weight: 700;
    @media (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.17;
      margin: 0 0 30px 0;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
      margin: 0 0 50px 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__link {
    @media (min-width: 480px) {
      width: 210px;
      height: 92px;
    }
    @media (min-width: 768px) {
      width: 226px;
      height: 92px;
    }
    @media (min-width: 1200px) {
      width: 170px;
      height: 92px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--social-icon-color) solid 1px;
    border-radius: 4px;
    color: var(--social-icon-color);
    transition-property: transform border color;
    @include trans();
    &:hover,
    &:focus {
      border: var(--accent-color) solid 1px;
      color: var(--accent-color);
      transform: scale(105%);
    }
  }
  &__icon {
    fill: currentColor;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}
