/* --------- feature ---------- */

.feature {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }
  }

  &__bg-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    @media (min-width: 768px) {
      width: 354px;
    }
    @media (min-width: 1200px) {
      width: 270px;
    }
    height: 120px;
    margin-bottom: 30px;
  }

  &__icon {
    display: block;
  }

  &__title {
    @extend %title-color;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    @media (min-width: 1200px) {
      width: 270px;
    }
    display: block;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
  }
}
