/* --------- GALERY --------- */
.galery {
  &__list {
    display: flex;
    flex-wrap: wrap;
    & .galery__item:nth-child(3n) {
      margin-right: 0;
    }
    & .galery__item:nth-child(-n + 3) {
      margin-top: 0;
    }
  }
  &__item {
    width: 370px;
    margin-top: 30px;
    margin-right: 30px;
  }
  &__link {
    display: block;
    color: inherit;
    transition-property: box-shadow;
    transition: var(--trans);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .galery__overlay,
    &:focus .galery__overlay {
      transform: translateY(0);
    }
  }

  &__box {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(101%);
    transition: var(--trans);
  }

  &__overlay-text {
    color: var(--button-text-color);
    font-size: 18px;
    line-height: 1.56;
    width: 322px;
    height: 168px;
    margin: 0;
  }

  &__sighn-box {
    background-color: #fff;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
    position: relative;
  }
  &__sighn-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__sighn-type {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 0;
    margin-bottom: 0;
  }
}
