/* --------- HERO --------- */
.hero {
  @media (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg-mobile-img-1x.jpg);
    background: no-repeat, cover, left top, color;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 118px 0;
  }
  @media (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg-tablet-img-1x.jpg);
    background: no-repeat, cover, left top, color;
    height: 400px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 118px 0;
  }
  @media (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/bg-img.jpg);
    background-color: #c4c4c4;
    background: no-repeat, cover, left top, color;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    text-align: center;
    padding: 200px 0;
  }

  &__container {
    @media (max-width: 1199px) {
      max-width: 360px;
      padding: 0;
    }

    @media (min-width: 1200px) {
      width: 696px;
    }
  }
  &__title {
    @media (max-width: 228px) {
      display: none;
    }
    @media (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.61;
    }
    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
    color: var(--main-title-text-color);
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
