.team {
  &__section {
    background: #f5f4fa;
  }
  &__title {
    @extend %section-title;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  &__card {
    @media (min-width: 480px) {
      width: 450px;
    }
    @media (min-width: 768px) {
      width: 354px;
    }
    @media (min-width: 1200px) {
      width: 270px;
    }
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__card-sighn {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 767px) {
      padding: 30px 0 24px 0;
    }
    @media (min-width: 768px) {
      padding: 30px 0 24px 0;
    }
    @media (min-width: 1200px) {
      padding: 30px 0;
    }
  }
  &__name {
    @extend %title-color;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin: 0 0 10px 0;
  }

  &__position {
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

/* --------SOCIAL-------- */
.team-social {
  &__list {
    width: 206px;
    height: 44px;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--social-icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color color;
    @include trans();
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--button-text-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
