.work {
  padding-top: 0;
  padding-bottom: 94px;

  &__title {
    margin: 0 0 50px 0;
  }

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 30px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }

  &__label-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    display: flex;

    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
  }
  &__label-title {
    color: #ffffff;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
