.button {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition-property: transform background-color box-shadow;
  transition: var(--trans);
  &:hover,
  &:focus {
    color: var(--button-text-color);
    background-color: #188ce8;
    transform: scale(102%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
