:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-title-text-color: #ffffff;
  --background-color: #ffffff;
  --logo-white-color: #ffffff;
  --logo-black-color: #000000;
  --button-text-color: #ffffff;
  --social-icon-color: #afb1b8;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
